* {
  margin: 0px;
  padding: 0px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a:hover {
  text-decoration: none;
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header {
  background-color: #00552e;
  color: #ffffff;
}

header #topbar {
  padding: 5px 0px;
}

header #topbar .support .icon {
  display: inline-block;
}

header #topbar .support .icon i {
  font-size: 50px;
}

header #topbar .support .support-info {
  display: inline-block;
}

header #topbar .support span {
  display: block;
}

header #topbar .log-in {
  text-align: right;
  padding: 5px;
}

header #topbar .log-in input {
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 14px;
}

header #topbar .log-in button {
  border: none;
  font-size: 14px;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  color: #fff;
  background-color: #ed1c24;
}

header #navbar .collaps-cat {
  color: #000000;
}

header #navbar .collaps-cat button {
  background-color: #ffffff;
  border: none;
  padding: 5px;
  font-size: 25px;
  border-radius: 5px;
}

header #navbar .collaps-cat #coll-cat {
  position: absolute;
  z-index: 16;
}

header #navbar .collaps-cat #coll-cat ul li {
  padding: .75rem 2.25rem;
  position: relative;
}

header #navbar .collaps-cat #coll-cat ul li a {
  color: #000000;
  font-size: 14px;
}

header #navbar .collaps-cat #coll-cat ul li a:hover {
  text-decoration: underline;
  color: #f47928;
}

header #navbar .collaps-cat #coll-cat ul li i {
  color: #000000;
  font-size: 14px;
  margin-left: 20px;
}

header #navbar .logo img {
  width: 200px;
}

header #navbar .search {
  margin: 10px auto;
}

header #navbar .search input {
  border: none;
  border-radius: 5px 0px 0px 5px;
  padding: 5px;
  font-size: 14px;
  width: 90%;
}

header #navbar .search button {
  border: none;
  margin-left: -4px;
  background: none;
}

header #navbar .search i {
  font-size: 19px;
  height: 32px;
  background-color: #f47928;
  padding: 6px;
  border-radius: 0px 5px 5px 0px;
}

header #navbar .cart {
  text-align: right;
  font-size: 30px;
}

.carousel-item a img {
  width: 100%;
}

.carousel-indicators li.active {
  background-color: #f47928 !important;
}

.carousel-indicators li {
  background-color: #000000 !important;
  border: 2px solid #ffffff !important;
  opacity: 1 !important;
  width: 10px !important;
  height: 10px !important;
  border-radius: 50%;
}

#banner {
  margin: 10px auto;
}

#banner .banner-ad {
  margin-bottom: 10px;
}

#service {
  padding: 35px 0;
  margin-bottom: 50px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.sv-inner {
  text-align: left;
  display: table;
}

.sv-inner .sv-icon {
  display: table-cell;
  vertical-align: top;
}

.sv-inner .sv-icon img {
  vertical-align: middle;
}

.sv-inner .sv-info {
  display: table-cell;
  vertical-align: top;
  padding-top: 2px;
}

.sv-inner .sv-info h2 {
  font-size: 14px !important;
  font-weight: bold;
  text-transform: uppercase;
}

.sv-inner .sv-info p {
  font-size: 13px !important;
}

.deals {
  border: 2px solid #f47928;
  border-radius: 10px;
}

.deals .thumbnail {
  float: left;
  width: 15%;
}

.deals .thumbnail .active {
  border: 1px solid #f47928;
}

.deals .thumb-img {
  border: 1px solid #aaa;
  padding: 5px;
  margin: 10px;
  width: 100px;
}

.deals .thumb-img img {
  width: 80px;
}

.deals .grid-sys {
  float: left;
  width: 85%;
  margin-top: 25px;
}

.deals .box-img {
  width: 50%;
  float: left;
  position: relative;
}

.deals .box-img .product-overlay {
  display: none;
}

.deals .box-img .opt {
  text-align: center;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  margin: auto;
  height: 0%;
  width: 100%;
}

.deals .box-img .opt i {
  font-size: 20px;
  width: 40px;
  height: 40px;
  line-height: 23px;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 10px;
}

.deals .box-img .opt i:hover {
  color: #ffffff;
  background-color: #f47928;
}

.deals .box-img .add-cart {
  position: absolute;
  bottom: 0px;
  left: 0px;
  text-align: center;
  font-size: 20px;
  width: 100%;
  padding: 10px 0px;
  color: #ffffff;
  background-color: #f47928;
}

.deals .box-img a img {
  width: 100%;
}

.deals .product-details {
  width: 50%;
  float: left;
  /*countdown*/
  /*countdown*/
}

.deals .product-details .product-name h2 a {
  font-size: 18px;
  color: #000000;
}

.deals .product-details .product-name h2 a:hover {
  color: #f47928;
}

.deals .product-details .porduct-des {
  font-size: 13px;
}

.deals .product-details .product-review {
  margin: 20px 0px;
}

.deals .product-details .product-review i {
  color: #f47928;
}

.deals .product-details .product-price .offer-price {
  font-size: 20px;
  color: #ed1c24;
  font-weight: bolder;
}

.deals .product-details .product-price .old-price {
  text-decoration: line-through;
}

.deals .product-details #clock {
  font-size: 20px;
  font-weight: bold;
}

.deals .product-details #clock div {
  display: inline-block;
  text-align: center;
  border: 1px solid #f47928;
  margin: 5px;
  padding: 5px;
  width: 70px;
  height: 70px;
}

.deals .product-details #clock span {
  display: block;
}

/*Category style*/
#category {
  padding-top: 20px;
  padding-bottom: 50px;
}

#category .cat-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

#category h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

.cat-img {
  display: block;
}

.cat-img:hover {
  opacity: .8;
}

.cat-img img {
  vertical-align: middle;
  max-width: 100%;
  max-height: 100%;
}

.cat-link {
  margin-top: 10px;
  text-align: center;
  border-radius: 3px;
}

.cat-link a {
  border: 1px solid #eee;
  display: block;
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 90%;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*color link*/
.color-1:hover {
  border-color: #fe5722;
  background-color: #fe5722;
}

.color-1 a {
  color: #fe5722 !important;
}

.color-1 a:hover {
  color: #ffffff !important;
}

.color-2:hover {
  border-color: #ff9c00;
  background-color: #ff9c00;
}

.color-2 a {
  color: #ff9c00 !important;
}

.color-2 a:hover {
  color: #ffffff !important;
}

.color-3:hover {
  border-color: #3891d5;
  background-color: #3891d5;
}

.color-3 a {
  color: #3891d5 !important;
}

.color-3 a:hover {
  color: #ffffff !important;
}

.color-4:hover {
  border-color: #f95b72;
  background-color: #f95b72;
}

.color-4 a {
  color: #f95b72 !important;
}

.color-4 a:hover {
  color: #ffffff !important;
}

.color-5:hover {
  border-color: #43c80e;
  background-color: #43c80e;
}

.color-5 a {
  color: #43c80e !important;
}

.color-5 a:hover {
  color: #ffffff !important;
}

.color-6:hover {
  border-color: #cd75d5;
  background-color: #cd75d5;
}

.color-6 a {
  color: #cd75d5 !important;
}

.color-6 a:hover {
  color: #ffffff !important;
}

/*color link*/
/*Category style*/
/*Product style*/
#product-row {
  background-color: #fafafa;
  padding-top: 50px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  clear: both;
}

#product-row .cat-tab-product {
  color: #000000;
  margin-bottom: 50px;
}

#product-row .cat-tab-product .col-category {
  float: left;
  width: 228px;
}

#product-row .cat-tab-product .col-category .content-box .parent-cat {
  background-color: #3d80e3;
  padding: 23px 20px;
}

#product-row .cat-tab-product .col-category .content-box .parent-cat .img-cat {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#product-row .cat-tab-product .col-category .content-box .parent-cat .img-cat img {
  max-width: 100%;
  max-height: 100%;
}

#product-row .cat-tab-product .col-category .content-box .parent-cat .cat-title {
  display: inline-block;
  vertical-align: middle;
}

#product-row .cat-tab-product .col-category .content-box .parent-cat .cat-title a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 125%;
}

#product-row .cat-tab-product .col-category .content-box .sub-cat {
  padding-top: 15px;
  margin-left: 30px;
}

#product-row .cat-tab-product .col-category .content-box .sub-cat li {
  margin: 20px 0px;
}

#product-row .cat-tab-product .col-category .content-box .sub-cat li a {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#product-row .cat-tab-product .col-category .content-box .sub-cat li a:hover {
  color: #3d80e3;
}

.tab-products {
  position: relative;
  left: -2px;
  padding: 20px 18px 20px 22px;
  margin-left: 228px;
  border-left: 2px solid #3d80e3;
  border-color: #3d80e3;
}

.tab-products .listingtab .nav {
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.tab-products .listingtab .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

.tab-products .listingtab .nav li .active {
  color: #ffffff;
}

.tab-products .banner-ad a img {
  width: 100%;
}

/*color link*/
#product-row .pdcolor-1 {
  border: 2px solid #3d80e3;
}

#product-row .pdcolor-1 .col-category {
  float: left;
  width: 228px;
}

#product-row .pdcolor-1 .col-category .content-box .parent-cat {
  background-color: #3d80e3;
  padding: 23px 20px;
}

#product-row .pdcolor-1 .col-category .content-box .parent-cat .img-cat {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#product-row .pdcolor-1 .col-category .content-box .parent-cat .img-cat img {
  max-width: 100%;
  max-height: 100%;
}

#product-row .pdcolor-1 .col-category .content-box .parent-cat .cat-title {
  display: inline-block;
  vertical-align: middle;
}

#product-row .pdcolor-1 .col-category .content-box .parent-cat .cat-title a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 125%;
}

#product-row .pdcolor-1 .col-category .content-box .sub-cat {
  padding-top: 15px;
  margin-left: 30px;
}

#product-row .pdcolor-1 .col-category .content-box .sub-cat li {
  margin: 20px 0px;
}

#product-row .pdcolor-1 .col-category .content-box .sub-cat li a {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#product-row .pdcolor-1 .col-category .content-box .sub-cat li a:hover {
  color: #3d80e3;
}

#product-row .pdcolor-2 {
  border: 2px solid #FF5984;
}

#product-row .pdcolor-2 .col-category {
  float: left;
  width: 228px;
}

#product-row .pdcolor-2 .col-category .content-box .parent-cat {
  background-color: #FF5984;
  padding: 23px 20px;
}

#product-row .pdcolor-2 .col-category .content-box .parent-cat .img-cat {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#product-row .pdcolor-2 .col-category .content-box .parent-cat .img-cat img {
  max-width: 100%;
  max-height: 100%;
}

#product-row .pdcolor-2 .col-category .content-box .parent-cat .cat-title {
  display: inline-block;
  vertical-align: middle;
}

#product-row .pdcolor-2 .col-category .content-box .parent-cat .cat-title a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 125%;
}

#product-row .pdcolor-2 .col-category .content-box .sub-cat {
  padding-top: 15px;
  margin-left: 30px;
}

#product-row .pdcolor-2 .col-category .content-box .sub-cat li {
  margin: 20px 0px;
}

#product-row .pdcolor-2 .col-category .content-box .sub-cat li a {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#product-row .pdcolor-2 .col-category .content-box .sub-cat li a:hover {
  color: #FF5984;
}

#product-row .pdcolor-2 .tab-products {
  position: relative;
  left: -2px;
  padding: 20px 18px 20px 22px;
  margin-left: 228px;
  border-left: 2px solid #FF5984;
  border-color: #FF5984;
}

#product-row .pdcolor-2 .tab-products .listingtab .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

#product-row .pdcolor-2 .tab-products .listingtab .nav li .active {
  color: #ffffff;
  background-color: #FF5984;
}

#product-row .pdcolor-2 .tab-products .banner-ad a img {
  width: 100%;
}

#product-row .pdcolor-3 {
  border: 2px solid #2CB75D;
}

#product-row .pdcolor-3 .col-category {
  float: left;
  width: 228px;
}

#product-row .pdcolor-3 .col-category .content-box .parent-cat {
  background-color: #2CB75D;
  padding: 23px 20px;
}

#product-row .pdcolor-3 .col-category .content-box .parent-cat .img-cat {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#product-row .pdcolor-3 .col-category .content-box .parent-cat .img-cat img {
  max-width: 100%;
  max-height: 100%;
}

#product-row .pdcolor-3 .col-category .content-box .parent-cat .cat-title {
  display: inline-block;
  vertical-align: middle;
}

#product-row .pdcolor-3 .col-category .content-box .parent-cat .cat-title a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 125%;
}

#product-row .pdcolor-3 .col-category .content-box .sub-cat {
  padding-top: 15px;
  margin-left: 30px;
}

#product-row .pdcolor-3 .col-category .content-box .sub-cat li {
  margin: 20px 0px;
}

#product-row .pdcolor-3 .col-category .content-box .sub-cat li a {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#product-row .pdcolor-3 .col-category .content-box .sub-cat li a:hover {
  color: #2CB75D;
}

#product-row .pdcolor-3 .tab-products {
  position: relative;
  left: -2px;
  padding: 20px 18px 20px 22px;
  margin-left: 228px;
  border-left: 2px solid #2CB75D;
  border-color: #2CB75D;
}

#product-row .pdcolor-3 .tab-products .listingtab .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

#product-row .pdcolor-3 .tab-products .listingtab .nav li .active {
  color: #ffffff;
  background-color: #2CB75D;
}

#product-row .pdcolor-3 .tab-products .banner-ad a img {
  width: 100%;
}

#product-row .pdcolor-4 {
  border: 2px solid #FF9C00;
}

#product-row .pdcolor-4 .col-category {
  float: left;
  width: 228px;
}

#product-row .pdcolor-4 .col-category .content-box .parent-cat {
  background-color: #FF9C00;
  padding: 23px 20px;
}

#product-row .pdcolor-4 .col-category .content-box .parent-cat .img-cat {
  display: inline-block;
  vertical-align: middle;
  padding-right: 5px;
}

#product-row .pdcolor-4 .col-category .content-box .parent-cat .img-cat img {
  max-width: 100%;
  max-height: 100%;
}

#product-row .pdcolor-4 .col-category .content-box .parent-cat .cat-title {
  display: inline-block;
  vertical-align: middle;
}

#product-row .pdcolor-4 .col-category .content-box .parent-cat .cat-title a {
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 125%;
}

#product-row .pdcolor-4 .col-category .content-box .sub-cat {
  padding-top: 15px;
  margin-left: 30px;
}

#product-row .pdcolor-4 .col-category .content-box .sub-cat li {
  margin: 20px 0px;
}

#product-row .pdcolor-4 .col-category .content-box .sub-cat li a {
  font-size: 16px;
  color: #222;
  text-decoration: none;
  background-color: transparent;
}

#product-row .pdcolor-4 .col-category .content-box .sub-cat li a:hover {
  color: #FF9C00;
}

#product-row .pdcolor-4 .tab-products {
  position: relative;
  left: -2px;
  padding: 20px 18px 20px 22px;
  margin-left: 228px;
  border-left: 2px solid #FF9C00;
  border-color: #FF9C00;
}

#product-row .pdcolor-4 .tab-products .listingtab .nav li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #222;
  font-weight: bold;
  border: 1px solid #e5e5e5;
}

#product-row .pdcolor-4 .tab-products .listingtab .nav li .active {
  color: #ffffff;
  background-color: #FF9C00;
}

#product-row .pdcolor-4 .tab-products .banner-ad a img {
  width: 100%;
}

/*color link*/
/*Product style*/
/*filter Product style*/
#filterproduct .filterinner {
  width: 100%;
}

#filterproduct .filterinner .filter-title {
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}

#filterproduct .filterinner h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

#filterproduct .filterinner .filter-items {
  width: 100%;
  overflow: hidden;
}

#filterproduct .filterinner .filter-items .filter-item {
  width: 32%;
  margin: 5px;
  padding: 5px;
  float: left;
}

#filterproduct .filterinner .filter-items .filter-item .flp-img {
  float: left;
  margin-right: 25px;
}

#filterproduct .filterinner .filter-items .filter-item .flp-des {
  float: left;
}

#filterproduct .filterinner .filter-items .filter-item .flp-des .flp-title a {
  font-size: 14px;
  margin: 10px 0px;
}

#filterproduct .filterinner .filter-items .filter-item .flp-des .flp-title a:hover {
  color: #FF5984;
  cursor: pointer;
}

#filterproduct .filterinner .filter-items .filter-item .flp-des .flp-review {
  margin: 8px 0px;
  color: #ffc14e;
}

#filterproduct .filterinner .filter-items .filter-item .flp-des .flp-price {
  margin: 8px 0px;
  color: #f53131;
  font-weight: bold;
}

/*filter Product style*/
/*Brand style*/
#brand {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd;
}

#brand a {
  width: 16%;
  padding: 4px;
}

#brand a img {
  max-width: 100%;
  max-height: 100%;
}

/*Brand style*/
/*newsletter style*/
#newsletter {
  margin-top: 40px;
  background-color: #23334C;
  overflow: hidden;
}

#newsletter .news-title {
  width: 50%;
  float: left;
  margin-top: 10px;
}

#newsletter .news-title .news-icon {
  float: left;
  font-size: 50px;
  color: #ffffff;
  margin-right: 10px;
}

#newsletter .news-title .news-text {
  float: left;
  margin-top: 10px;
}

#newsletter .news-title .news-text h2 {
  color: #ffffff;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: bold;
}

#newsletter .news-title .news-text h2 span {
  color: #f04743;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
}

#newsletter .news-input {
  width: 50%;
  float: left;
}

#newsletter .news-input form {
  margin: 25px 0px;
  background-color: #ffffff;
  padding: 8px 15px;
  border-radius: 5px;
}

#newsletter .news-input form input {
  border: none;
  background: none;
  width: 80%;
}

#newsletter .news-input form button {
  border: none;
  border-radius: 5px;
  background-color: #FE5722;
  color: #ffffff;
  text-transform: uppercase;
  padding: 7px 12px;
  font-size: 14px;
  font-weight: bold;
}

/*newsletter style*/
/*footer style*/
#footer .footer-top {
  overflow: hidden;
  padding-bottom: 30px;
  border-bottom: 1px solid #aaa;
}

#footer .footer-top .contact {
  overflow: hidden;
  width: 25%;
  float: left;
}

#footer .footer-top .contact .contact-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-top .contact h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

#footer .footer-top .contact .contact-details .address {
  text-align: left;
}

#footer .footer-top .contact .contact-details .address .address-icon {
  display: inline-block;
  vertical-align: super;
}

#footer .footer-top .contact .contact-details .address .address-icon i {
  text-align: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 15px;
  color: #ffffff;
  background-color: #f47928;
  border-radius: 50%;
  padding: 10px;
}

#footer .footer-top .contact .contact-details .address .address-text {
  display: inline-block;
}

#footer .footer-top .contact .contact-details .address .address-text p {
  font-size: 14px;
  margin-left: 4px;
  color: #777;
}

#footer .footer-top .contact .contact-details .mail {
  text-align: left;
}

#footer .footer-top .contact .contact-details .mail .mail-icon {
  display: inline-block;
}

#footer .footer-top .contact .contact-details .mail .mail-icon i {
  text-align: center;
  font-size: 16px;
  width: 35px;
  height: 35px;
  line-height: 12px;
  color: #ffffff;
  background-color: #f47928;
  border-radius: 50%;
  padding: 10px;
}

#footer .footer-top .contact .contact-details .mail .mail-text {
  display: inline-block;
}

#footer .footer-top .contact .contact-details .mail .mail-text p {
  font-size: 14px;
  margin-left: 4px;
  color: #777;
}

#footer .footer-top .contact .contact-details .phone {
  text-align: left;
}

#footer .footer-top .contact .contact-details .phone .phone-icon {
  display: inline-block;
  vertical-align: super;
}

#footer .footer-top .contact .contact-details .phone .phone-icon i {
  text-align: center;
  font-size: 20px;
  width: 35px;
  height: 35px;
  line-height: 15px;
  color: #ffffff;
  background-color: #f47928;
  border-radius: 50%;
  padding: 10px;
}

#footer .footer-top .contact .contact-details .phone .phone-text {
  display: inline-block;
}

#footer .footer-top .contact .contact-details .phone .phone-text p {
  font-size: 14px;
  margin-left: 4px;
  color: #777;
}

#footer .footer-top .service {
  width: 20%;
  float: left;
  margin-left: 20px;
}

#footer .footer-top .service .service-title {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-top .service h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

#footer .footer-top .service .list-group .list-group-item {
  padding: 5px 5px !important;
  border: none;
}

#footer .footer-top .service .list-group .list-group-item a {
  color: #777;
  font-size: 14px;
}

#footer .footer-top .service .list-group .list-group-item a:hover {
  text-decoration: none;
  color: #fe5722;
}

#footer .footer-top .latest-news {
  width: 35%;
  float: left;
}

#footer .footer-top .latest-news .title {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-top .latest-news h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

#footer .footer-top .latest-news .post-box {
  width: 100%;
  overflow: hidden;
}

#footer .footer-top .latest-news .post-box .post-item {
  width: 100%;
  overflow: hidden;
}

#footer .footer-top .latest-news .post-box .post-item .post-img {
  width: 20%;
  float: left;
  margin: 5px 5px;
}

#footer .footer-top .latest-news .post-box .post-item .post-img img {
  width: 100%;
}

#footer .footer-top .latest-news .post-box .post-item .post-img img:hover {
  opacity: .7;
}

#footer .footer-top .latest-news .post-box .post-item .post-text {
  width: 75%;
  float: left;
  margin-left: 5px;
}

#footer .footer-top .latest-news .post-box .post-item .post-text .post-link {
  color: #444444;
  font-size: 14px;
}

#footer .footer-top .latest-news .post-box .post-item .post-text .post-link:hover {
  text-decoration: none;
  color: #fe5722;
}

#footer .footer-top .latest-news .post-box .post-item .post-text span.date {
  color: #777777;
  font-size: 14px;
  display: block;
}

#footer .footer-top .image-box {
  width: 18%;
  float: left;
}

#footer .footer-top .image-box .title {
  margin-top: 20px;
  margin-bottom: 20px;
}

#footer .footer-top .image-box h2 {
  display: inline-block;
  margin-bottom: -1px;
  text-transform: uppercase;
  color: #222222;
  font-size: 133.33%;
  font-weight: 700;
  padding-bottom: 10px;
  border-bottom: 1px solid #fe5722;
}

/*social nav style*/
#social-bar {
  margin: 10px 0px;
  padding: 10px 0px;
}

#social-bar .social-nav {
  width: 100%;
  text-align: center;
}

#social-bar .social-nav .item {
  display: inline-block;
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  border: 1px solid #aaa;
  padding: 5px;
  margin: 10px 5px;
  background-color: #ffffff;
  color: #777777;
}

#social-bar .social-nav .item:hover {
  background-color: #fe5722;
  color: #ffffff;
  border-color: #fe5722;
}

#social-bar .social-nav .item i {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#copyright .row {
  padding: 20px 0px;
  border-top: 1px solid #aaa;
}

#copyright .row .bkash {
  width: 32px;
  border-radius: 5px;
  margin-left: 5px;
}

#copyright .row .rocket {
  width: 32px;
  border-radius: 5px;
  margin-left: 5px;
}

#copyright .row .copy-text {
  color: #777777;
}

#copyright .row .copy-text a {
  color: #777777;
}

#copyright .row .copy-text a:hover {
  color: #fe5722;
  text-decoration: none;
}

/*social nav style*/
/*footer style*/
/*product slide style*/
.product-slide {
  margin-top: 50px;
}

.product-slide .pro-item {
  margin: 10px 0px;
}

.product-slide .pro-item .pro-img {
  width: 100%;
  position: relative;
}

.product-slide .pro-item .pro-img:hover .pro-hov {
  display: block;
}

.product-slide .pro-item .pro-img img {
  width: 100%;
}

.product-slide .pro-item .pro-img .pro-hov {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.1);
}

.product-slide .pro-item .pro-img .pro-hov .hov-link {
  margin-top: 120px;
}

.product-slide .pro-item .pro-img .pro-hov .hov-link i {
  background-color: #ffffff;
  font-size: 15px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  color: #000000;
  padding: 5px;
}

.product-slide .pro-item .pro-img .pro-hov .hov-link i:hover {
  background-color: #f47928;
  color: #ffffff;
}

.product-slide .pro-item .pro-des {
  text-align: center;
}

.product-slide .pro-item .pro-des .pro-link {
  font-size: 14px;
  color: #000000;
}

.product-slide .pro-item .pro-des .pro-link:hover {
  color: #f47928;
}

.product-slide .pro-item .pro-des i {
  display: inline-block;
  color: #f47928;
}

.product-slide .pro-item .pro-des .pro-price {
  display: block;
  font-size: 20px;
  color: #ed1c24;
  font-weight: bold;
}

.product-slide .pro-item .pro-cart {
  width: 100%;
}

.product-slide .pro-item .pro-cart button {
  width: 100%;
  max-height: 50px;
  background: #eeeeee;
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 12px;
  text-transform: uppercase;
  padding: 8px 10px;
}

.product-slide .pro-item .pro-cart button:hover {
  color: #ffffff;
  background-color: #f04743;
  border: 1px solid #f04743;
}

.pdcolor-1 .owl-nav {
  position: absolute;
  top: -110px;
  right: 20px;
}

.pdcolor-1 .owl-nav .owl-prev {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-1 .owl-nav .owl-prev span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-1 .owl-nav .owl-prev:hover {
  color: #ffffff;
  background-color: #3d80e3;
}

.pdcolor-1 .owl-nav .owl-next {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-1 .owl-nav .owl-next span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-1 .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #3d80e3;
}

.pdcolor-2 .owl-nav {
  position: absolute;
  top: -110px;
  right: 20px;
}

.pdcolor-2 .owl-nav .owl-prev {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-2 .owl-nav .owl-prev span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-2 .owl-nav .owl-prev:hover {
  color: #ffffff;
  background-color: #FF5984;
}

.pdcolor-2 .owl-nav .owl-next {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-2 .owl-nav .owl-next span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-2 .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #FF5984;
}

.pdcolor-3 .owl-nav {
  position: absolute;
  top: -110px;
  right: 20px;
}

.pdcolor-3 .owl-nav .owl-prev {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-3 .owl-nav .owl-prev span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-3 .owl-nav .owl-prev:hover {
  color: #ffffff;
  background-color: #2CB75D;
}

.pdcolor-3 .owl-nav .owl-next {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-3 .owl-nav .owl-next span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-3 .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #2CB75D;
}

.pdcolor-4 .owl-nav {
  position: absolute;
  top: -110px;
  right: 20px;
}

.pdcolor-4 .owl-nav .owl-prev {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-4 .owl-nav .owl-prev span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-4 .owl-nav .owl-prev:hover {
  color: #ffffff;
  background-color: #FF9C00;
}

.pdcolor-4 .owl-nav .owl-next {
  width: 28px;
  height: 36px;
  border: 1px solid #e5e5e5 !important;
  background: none;
  color: #222;
  border-radius: 3px;
}

.pdcolor-4 .owl-nav .owl-next span {
  font-size: 30px;
  line-height: 20px;
}

.pdcolor-4 .owl-nav .owl-next:hover {
  color: #ffffff;
  background-color: #FF9C00;
}

/*product slide style*/
/*# sourceMappingURL=style.css.map */